In [8]:
import sqlite3

conn = sqlite3.connect("./databases/about_me.db")

cursor = conn.cursor()

cursor.execute(
    """ CREATE TABLE IF NOT EXISTS about_me (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    name VARCHAR(255) NOT NULL,
    dob VARCHAR(255) NOT NULL,
    about_me VARCHAR(255) NOT NULL,
    contact_no VARCHAR(255) NOT NULL,
    linkedin_profile VARCHAR(255) NOT NULL,
    github_profile VARCHAR(255) NOT NULL,
    head_line VARCHAR(255) NOT NULL
    )
    """
)



conn.commit()

conn.close()

In [9]:
conn = sqlite3.connect("./databases/work_experience.db")

cursor = conn.cursor()
cursor.execute(
    """ CREATE TABLE IF NOT EXISTS work_experience(
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    company_name VARCHAR(255) NOT NULL,
    company_location VARCHAR(255) NOT NULL,
    duration VARCHAR(255) NOT NULL,
    job_profile VARCHAR(255) NOT NULL,
    description VARCHAR(255) NOT NULL
    )
    """
)


conn.commit()

conn.close()

In [16]:
conn = sqlite3.connect("./databases/education.db")

cursor = conn.cursor()
cursor.execute(
    """ CREATE TABLE IF NOT EXISTS education(
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    college_name VARCHAR(255) NOT NULL,
    degree VARCHAR(255) NOT NULL,
    Area_of_study VARCHAR(255) NOT NULL,
    duration VARCHAR(255) NOT NULL,
    grade VARCHAR(255) NOT NULL
    )
    """
)


conn.commit()

conn.close()

In [17]:
conn = sqlite3.connect("./databases/certificates.db")

cursor = conn.cursor()
cursor.execute(
    """ CREATE TABLE IF NOT EXISTS certificates(
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    certificate_name VARCHAR(255) NOT NULL,
    issuer VARCHAR(255) NOT NULL,
    issued_date VARCHAR(255) NOT NULL
    )
    """
)

conn.commit()

conn.close()

In [18]:
conn = sqlite3.connect("./databases/blogs.db")

cursor = conn.cursor()

cursor.execute(
    """ CREATE TABLE IF NOT EXISTS blogs(
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    blog_name VARCHAR(255) NOT NULL,
    blog_publisher VARCHAR(255) NOT NULL,
    blog_summary VARCHAR(255) NOT NULL,
    link VARCHAR(255) NOT NULL
    )
    """
)


conn.commit()

conn.close()

In [19]:


conn = sqlite3.connect("./databases/projects.db")

cursor = conn.cursor()
cursor.execute(
    """ CREATE TABLE IF NOT EXISTS projects(
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    project_name VARCHAR(255) NOT NULL,
    project_description VARCHAR(255) NOT NULL,
    duration VARCHAR(255) NOT NULL,
    project_link VARCHAR(255) NOT NULL
    )
    """
)

conn.commit()
conn.close()

In [20]:

conn = sqlite3.connect("./databases/skills.db")

cursor = conn.cursor()

cursor.execute(
    """ CREATE TABLE IF NOT EXISTS skills(
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    skill VARCHAR(255) NOT NULL
    )
    """
)

conn.commit()

conn.close()

In [21]:


conn = sqlite3.connect("./databases/interests.db")

cursor = conn.cursor()

cursor.execute(
    """ CREATE TABLE IF NOT EXISTS interests(
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    interests VARCHAR(255) NOT NULL)
    """
)
#
conn.commit()
conn.close()